<section class="container-menu">
  <div class="container-menu_top">
    <div class="container-menu-title">
      <img
        class="container-menu-title_logo"
        src="../../../favicon.ico"
        alt="logo"
      />
      <span class="container-menu-title_name">METALFACTORY</span>
    </div>
    <hr />
    <div class="container-menu-user">
      <div class="container-menu-user_cercle">
        <span class="container-menu-user_cercle_span">{{ firstLetter }}</span>
      </div>
      <span class="menu-span">{{ currentUserName }} </span>
    </div>
    <hr />
    <button
      (click)="showActiveContainer('Fournisseurs')"
      class="buttonToActivePage"
    >
      <div class="container-menu-clients" (click)="rotateElement()">
        <img
          class="icon"
          src="assets/images/approvisionnement/fournisseur.png"
          alt="logo Fournisseur"
        />
        <span class="menu-span">Fournisseurs</span>
        <img
          [ngClass]="{ 'rotate-90': isRotated }"
          class="icon_direction"
          src="assets/images/commercial/angle-droit.png"
          alt="logo angle-droit"
        />
      </div>
    </button>

    <hr />
    <button (click)="showActiveContainer('Stocks')" class="buttonToActivePage">
      <div class="container-menu-devis">
        <img
          class="icon"
          src="assets/images/approvisionnement/produit.png"
          alt="icon Stock"
        />
        <span class="menu-span">Stocks</span>
        <img
          class="icon_direction"
          src="assets/images/commercial/angle-droit.png"
          alt="logo angle-droit"
        />
      </div>
    </button>

    <hr />
  </div>
  <div class="container-menu_bottom">
    <hr />
    <div class="container-menu-deconnexion">
      <img
        class="icon , icon-deconnexion"
        src="assets/images/commercial/deconnecter.png"
        alt="icon deconnexion"
      />
      <button class="menu-span" (click)="logout()">Déconnexion</button>
      <img
        class="icon_direction"
        src="assets/images/commercial/angle-droit.png"
        alt="logo angle-droit"
      />
    </div>
    <hr />
    <button (click)="showActiveContainer('Profil')" class="buttonToActivePage">
      <div class="container-menu-profil">
        <img
          class="icon"
          src="assets/images/commercial/parametre.png"
          alt="icon parametre"
        />
        <span class="menu-span">Mon Profil</span>
        <img
          class="icon_direction"
          src="assets/images/commercial/angle-droit.png"
          alt="logo angle-droit"
        />
      </div>
    </button>

    <hr />
    <div class="container-menu-reduit">
      <div class="container-menu-reduit_cercle">
        <img
          class="icon"
          src="assets/images/commercial/fleches-gauche.png"
          alt="icon devis"
        />
      </div>

      <span class="menu-span">Réduit le Menu</span>
      <img
        class="icon_direction"
        src="assets/images/commercial/angle-droit.png"
        alt="logo angle-droit"
      />
    </div>
  </div>
</section>

<section
  class="container-fournisseur , allSectionContainer"
  *ngIf="activContainer === 'Fournisseurs'"
>
  <div class="container-fournisseur_allbutton">
    <button class="container-fournisseur_allbutton_one">
      Fournisseurs Actif
    </button>
    <button class="container-fournisseur_allbutton_one">
      Fournisseurs suspendus
    </button>
  </div>
  <!-- Modal -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2 class="modal-title">Ajouter un Fournisseur</h2>

      <form class="modal-form" #f="ngForm" (ngSubmit)="addSupplier(f)">
        <label for="name">Nom du Fournisseur:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="newSupplier.name"
          #name="ngModel"
          required
          placeholder="GARGANTUA"
        />
        <div *ngIf="name.invalid && name.touched" class="error">
          Le nom est requis.
        </div>

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="newSupplier.email"
          #email="ngModel"
          required
          email
          placeholder="Jery@gmail.com"
        />
        <div *ngIf="email.invalid && email.touched" class="error">
          {{
            email.errors?.['required']
              ? "L'email est requis."
              : "L'email est invalide."
          }}
        </div>

        <label for="siret">SIRET:</label>
        <input
          type="text"
          id="siret"
          name="siret"
          [(ngModel)]="newSupplier.siret"
          #siret="ngModel"
          required
          pattern="[0-9]{14}"
          placeholder="12345678912345"
        />
        <div *ngIf="siret.invalid && siret.touched" class="error">
          Le numéro SIRET est requis et doit contenir 14 chiffres.
        </div>

        <label for="phone">Téléphone:</label>
        <input
          type="text"
          id="phone"
          name="phone"
          [(ngModel)]="newSupplier.phone"
          #phone="ngModel"
          required
          pattern="^(\+?\d{1,4}[\s-]?)?(\(?\d{1,4}\)?[\s-]?)?\d{1,4}[\s-]?\d{1,4}[\s-]?\d{1,9}$"
          placeholder="+(33)06 00 00 00 00"
        />
        <div *ngIf="phone.invalid && phone.touched" class="error">
          Numéro de téléphone valide requis.
        </div>

        <label for="street">Rue:</label>
        <input
          type="text"
          id="street"
          name="street"
          [(ngModel)]="newSupplier.street"
          #street="ngModel"
          required
          placeholder="Rue de la paix"
        />
        <div *ngIf="street.invalid && street.touched" class="error">
          La rue est requise.
        </div>

        <label for="city">Ville:</label>
        <input
          type="text"
          id="city"
          name="city"
          [(ngModel)]="newSupplier.city"
          #city="ngModel"
          required
          placeholder="Paris"
        />
        <div *ngIf="city.invalid && city.touched" class="error">
          La ville est requise.
        </div>

        <label for="postalCode">Code Postal:</label>
        <input
          type="text"
          id="postalCode"
          name="postalCode"
          [(ngModel)]="newSupplier.postalCode"
          #postalCode="ngModel"
          placeholder="75000"
          required
        />
        <div *ngIf="postalCode.invalid && postalCode.touched" class="error">
          Code postal valide requis (5 chiffres).
        </div>

        <label for="country">Pays:</label>
        <input
          type="text"
          id="country"
          name="country"
          [(ngModel)]="newSupplier.country"
          #country="ngModel"
          required
          placeholder="France"
        />
        <div *ngIf="country.invalid && country.touched" class="error">
          Le pays est requis.
        </div>
        <button type="submit" [disabled]="f.invalid">Ajouter</button>
      </form>
    </div>
  </div>

  <div class="container-fournisseur_section">
    <button class="container-fournisseur_section_add" (click)="openModal()">
      Ajouter un Fournisseur
    </button>
    <div class="regulator">
      <div
        class="fournisseur_card"
        *ngFor="let supplier of paginatedActiveSupplier"
      >
        <div class="container-fournisseur_name">
          <section class="container-fournisseur_section_card">
            <div class="container-fournisseur_section_card_data">
              <span class="container-fournisseur_section_card_data_letter">{{
                supplier.name.charAt(0)
              }}</span>
            </div>
          </section>
          <span class="container-fournisseur_section_card_span">{{
            supplier.name
          }}</span>
        </div>
        <span class="fournisseur_info"
          >Crée le : {{ formatDate(supplier.createdAt) }}</span
        >
        <span class="fournisseur_info"
          >Email : {{ supplier.contactEmail }}</span
        >
        <span class="fournisseur_info">N°Siret : {{ supplier.SIRET }}</span>
        <span class="fournisseur_info"
          >Phone : {{ supplier.contactPhone }}</span
        >
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button
      class="pagination-controls_prev"
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Précédent
    </button>
    <span class="pagination-controls_span"
      >Page {{ currentPage }} sur {{ totalPages }}</span
    >
    <button
      class="pagination-controls_next"
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Suivant
    </button>
  </div>
</section>
<section *ngIf="activContainer === 'Stocks'" class="section-entrepot">
  <span class="section-entrepot_title"> Nos Entrepôts </span>
  <div class="container-entrepot">
    <div class="container-entrepot_card" *ngFor="let warehouse of allWarehouse">
      <div class="container-entrepot_card_name">
        <img src="assets\images\entrepot\entrepot.png" />
        <span class="container-entrepot_card_name_span">{{
          warehouse.name
        }}</span>
      </div>
      <div class="container-entrepot_card_info">
        <span class="container-entrepot_card_info_span"
          >Rue : {{ warehouse.address.street }}</span
        >
        <span class="container-entrepot_card_info_span"
          >Code postal : {{ warehouse.address.postalCode }}</span
        >
        <span class="container-entrepot_card_info_span"
          >Ville : {{ warehouse.address.city }}</span
        >
        <span class="container-entrepot_card_info_span"
          >Pays : {{ warehouse.address.country }}</span
        >
        <span class="container-entrepot_card_info_span"
          >Date d'ajout : {{ formatDate(warehouse.createdAt) }}</span
        >
      </div>
    </div>
  </div>
</section>
