<div class="footer">
  <div class="footer-info">
    <div class="footer-info_information">
      <h3>Information</h3>
      <a routerLink="/surnous" routerLinkActive="active">Qui sommes-nous ?</a>
      <a routerLink="/contact" routerLinkActive="active">Contactez-nous</a>
    </div>
    <div class="footer-info_apropos">
      <h3>A propos</h3>
      <a routerLink="/legale" routerLinkActive="active">Mentions Légales</a>
      <a routerLink="/livraison" routerLinkActive="active">Livraison</a>
    </div>
    <div class="footer-info_produits">
      <h3>Produits</h3>
      <a routerLink="/materiaux" routerLinkActive="active">Matériaux</a>
    </div>
    <div class="footer-info_newsletter">
      <h3>S'INSCRIRE AUX NEWSLETTERS</h3>
      <div class="footer-info_newsletter_input">
        <input type="email" placeholder="Votre adresse email" />
        <button>Envoyé</button>
      </div>

      <p>
        En validant votre inscription, vous acceptez que MetalFactory utilise
        votre adresse email dans le but de vous envoyer notre lettre
        d’informations.
      </p>
    </div>
  </div>
  <hr />
  <div class="footer-links">
    <span>@Metal Factory 2024</span>
    <a href="#" target="_blank">
      <img src="#" alt=" lien Twitter" />
    </a>
    <a href="#" target="_blank">
      <img src="#" alt=" lien Instagrame" />
    </a>
    <a href="#" target="_blank">
      <img src="#" alt=" lien Facebook" />
    </a>
  </div>
</div>
