<div class="toolbar" role="banner">
  <div class="toolbar__logo">
    <img width="40" alt="Metal Factory Logo" src="../../../favicon.ico" />
    <a routerLink="/home" routerLinkActive="active">Metal Factory</a>
  </div>

  <a routerLink="/matiere" routerLinkActive="active">Matière</a>
  <a routerLink="/offres" routerLinkActive="active">Nos Offres</a>
  <a routerLink="/apropos" routerLinkActive="active">A Propos</a>
  <a routerLink="/connexion" routerLinkActive="active">Connexion</a>
  <ng-icon name="bootstrapCart3" class="cart"></ng-icon>
</div>
