@import '../../../styles/theme.scss';

:host {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  flex-direction: row;
}



.container-menu{
  display: flex;
  background-color: $primary-color;
  height: 100%;
  width: 250px;
  color: white;
  flex-direction: column;
  justify-content: space-between;

  &-title{

    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: space-around;

    &_logo{
      height: 50px;
      width: 50px;
      border: solid 1px $secondary-color;
    }
    &_name{
      font-family: bevan;
      font-size: 15px;
      font-weight: bold;
      color: $secondary-color;
    }


  }
  &-user_cercle{

    &_span{
      font-family: bevan;
      font-size: 2rem;
      font-weight: bold;
      color: $secondary-color;
    }
  }

  &-title,&-user,&-clients,&-devis,&-deconnexion,&-reduit,&-profil{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &-clients,&-devis,&-deconnexion,&-reduit,&-profil{
    background-color: rgb(1 36 81 / 42%);;
  }
  &-clients:hover ,&-devis:hover ,
  &-deconnexion:hover ,&-reduit:hover ,&-profil:hover {
    background-color: #f8890a32;
    cursor: pointer;
  }

  &-reduit_cercle{
    border-radius: 20px;
    background-color: #f88a0a;
  }

}
.container-data{
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;

  &_title{
    font-family: inter , sans-serif;
    font-size: 2rem;

    font-weight: bold;
  }
  &_order{
    display: flex;
    flex-direction: row;

  }
  &_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    border: solid 1px $background-color;
    padding: 1rem;

    &_card{
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_cercle{

        margin-right: 8%;
        margin-left: 2%;
      }
    }

  }

}

.icon{
  height: 40px;
  width: 40px;

}

.icon_direction{
  height: 20px;
  width: 20px;

}

.menu-span{
  font-family: bevan;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100px;
}

.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;

}

.container-menu-user_cercle ,.container-data_list_card_cercle {
  display: flex;
  border: solid 1px $secondary-color;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.container-data_list_card_cercle_span{
  font-family: bevan;
  font-size: 2rem;
  font-weight: bold;
  color: $secondary-color;
}
.container-data_list_card_name{
  font-family: inter , sans-serif;
  font-size: 1.5rem;
}

.container-data_list_card_button{
  font-family: inter , sans-serif;
  font-weight: bold;
  background-color: $background-color;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  margin-right: 35%;
}

.container-data_list_card_type{
  font-family: inter , sans-serif;
  font-weight: bold;
  padding-right: 1rem;
}
.container-data_list_card_right , .container-data_list_card_left{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.container-data_list_card_right{
  width: 55%;}

.container-data_list_card_left{
  justify-content: flex-start;
  width: 40%;
}
