<section class="container">
  <h1>Inscrivez-vous</h1>

  <form
    class="container_form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="container_form_lastName">
      <label for="lastName">Nom : </label>
      <input
        id="lastName"
        formControlName="lastName"
        placeholder="Montgomery"
      />
      <div
        class="form_error"
        *ngIf="
          registerForm.get('lastName')?.invalid &&
          registerForm.get('lastName')?.touched
        "
      >
        <div *ngIf="registerForm.get('lastName')?.errors?.['required']">
          Le nom de famille est requis.
        </div>
        <div *ngIf="registerForm.get('lastName')?.errors?.['minlength']">
          Le nom de famille doit comporter au moins 2 caractères.
        </div>
      </div>
    </div>
    <div class="container_form_firstName">
      <label for="firstName">Prénom :</label>
      <input id="firstName" formControlName="firstName" placeholder="Palmer" />
      <div
        class="form_error"
        *ngIf="
          registerForm.get('firstName')?.invalid &&
          registerForm.get('firstName')?.touched
        "
      >
        <div *ngIf="registerForm.get('firstName')?.errors?.['required']">
          Le prénom est requis.
        </div>
        <div *ngIf="registerForm.get('firstName')?.errors?.['minlength']">
          le prénom doit comporter au moins 2 caractères.
        </div>
      </div>
    </div>

    <div class="container_form_email">
      <label for="email">Email :</label>
      <input id="email" formControlName="email" placeholder="huco@gmail.com" />
      <div
        class="form_error"
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
      >
        <div *ngIf="registerForm.get('email')?.errors?.['required']">
          L'email est requis.
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">
          L'email est invalide.
        </div>
      </div>
    </div>
    <div class="container_form_password">
      <label for="password">Mot de passe :</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="************"
      />
      <div
        class="form_error"
        *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        "
      >
        <div *ngIf="registerForm.get('password')?.errors?.['required']">
          Le mot de passe est requis.
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Le mot de passe doit comporter au moins 12 caractères.
        </div>
      </div>
    </div>
    <div class="container_form_companyName">
      <label for="companyName">Nom de l'entreprise :</label>
      <input
        id="companyName"
        formControlName="companyName"
        placeholder="TerraForma"
      />
      <div
        class="form_error"
        *ngIf="
          registerForm.get('companyName')?.invalid &&
          registerForm.get('companyName')?.touched
        "
      >
        <div *ngIf="registerForm.get('companyName')?.errors?.['required']">
          Nom de l'entreprise est requis.
        </div>
      </div>
    </div>
    <div class="container_form_phone">
      <label for="phone">Téléphone :</label>
      <input
        id="phone"
        formControlName="phone"
        placeholder="+1 (779) 159-6214"
      />
      <div
        class="form_error"
        *ngIf="
          registerForm.get('phone')?.invalid &&
          registerForm.get('phone')?.touched
        "
      >
        <div *ngIf="registerForm.get('phone')?.errors?.['required']">
          Le numéro de téléphone est requis.
        </div>
        <div *ngIf="registerForm.get('phone')?.errors?.['pattern']">
          le numéro de téléphone est invalide.
        </div>
      </div>
    </div>

    <!--Formulaire de l'address -->
    <div class="container_form_address" formGroupName="address">
      <div class="container_form_address_street">
        <label for="street">Rue :</label>
        <input
          id="street"
          formControlName="street"
          placeholder="39 rue Elise Union"
        />
        <div
          class="form_error"
          *ngIf="
            registerForm.get('address.street')?.invalid &&
            registerForm.get('address.street')?.touched
          "
        >
          <div *ngIf="registerForm.get('address.street')?.errors?.['required']">
            La rue est requise.
          </div>
        </div>
      </div>
      <div class="container_form_address_postalCode">
        <label for="postalCode">Code Postal :</label>
        <input
          id="postalCode"
          formControlName="postalCode"
          placeholder="93430"
        />
        <div
          class="form_error"
          *ngIf="
            registerForm.get('address.postalCode')?.invalid &&
            registerForm.get('address.postalCode')?.touched
          "
        >
          <div
            *ngIf="registerForm.get('address.postalCode')?.errors?.['required']"
          >
            Le code postal est requis.
          </div>
        </div>
      </div>
      <div class="container_form_address_city">
        <label for="city">Ville :</label>
        <input id="city" formControlName="city" placeholder="Villetaneuse" />
        <div
          class="form_error"
          *ngIf="
            registerForm.get('address.city')?.invalid &&
            registerForm.get('address.city')?.touched
          "
        >
          <div *ngIf="registerForm.get('address.city')?.errors?.['required']">
            La ville est requise.
          </div>
        </div>
      </div>
      <div class="container_form_address_conutry">
        <label for="country">Pays</label>
        <input id="country" formControlName="country" placeholder="Paraguay" />
        <div
          class="form_error"
          *ngIf="
            registerForm.get('address.country')?.invalid &&
            registerForm.get('address.country')?.touched
          "
        >
          <div
            *ngIf="registerForm.get('address.country')?.errors?.['required']"
          >
            Le pays est requis.
          </div>
        </div>
      </div>
    </div>
    <button class="btn-inscription" type="submit">S’inscrire</button>
    <div *ngIf="errorMessage" class="form_error">
      {{ errorMessage }}
    </div>
  </form>
</section>
