// Couleurs
$primary-color: #001530;
$secondary-color: #F88A0A;
$error-color: #e74c3c;
$background-color: #D5D8DA;
$white: #fff;

$font-family-regular:'Regular, sans-serif';
$font-family-bevan:'Bevan, sans-serif';
$font-family-inter:'Inter, sans-serif';
