<section class="container">
  <h1 class="container_title">Mes Favoris<img class="container_title_image" src="assets/images/favorie/etoile_fav.png" /></h1>
  <div class="container_design" *ngIf="favorites.length > 0">
    <div
      class="container_div"
      *ngFor="let product of favorites; let i = index"
    >
      <button (click)="removeFavorite(product)">
        <img
          class="container_div_delete"
          src="assets/images/favorie/croix.png"
        />
      </button>
      <div class="container_div_card">
        <span class="container_div_card_name">{{ product.name }}</span>
        <div class="container_div_card_image">
          <img
            class="container_div_card_image_size"
            [src]="product.schema"
            alt="schema du produit"
          />
          <img
            class="container_div_card_image_size"
            [src]="product.image"
            alt="image du produit"
          />
        </div>
        <div class="container_div_card_data">
          <span class="container_div_card_data_quantity"
            >Quantité : {{ product.quantite }}</span
          >
          <span class="container_div_card_data_length"
            >Longueur : {{ product.longueur }} cm</span
          >
        </div>

        <div class="container_div_card_description">
          {{ product.description }}
        </div>
      </div>
      <div class="container_div_panier">
        <button class="container_div_panier_button">Ajouter au panier</button>
        <span class="container_div_panier_price"> PRIX* TTC : 1080 €</span>
      </div>
    </div>
  </div>
  <div class="container_div_empty" *ngIf="favorites.length === 0">
    <img class="container_div_empty_image" src="assets/images/favorie/noFavorie.png">
    <div class="container_div_empty_text">
      Favoris Vide</div></div>
</section>
