<div class="matiere">
  <div class="matiere-header grid md:mb-6 p-4">
    <h1 class="matiere-title">TABLE DES MATIERES</h1>
    <p class="matiere-description">
      Quel matériau devrais-je sélectionner ? Quel métal convient le mieux à mon
      projet ? Que vous recherchiez la robustesse de l'acier, la légèreté de
      l'aluminium, ou les propriétés spécifiques d'autres métaux, notre équipe
      expérimentée est là pour vous guider. Découvrez les avantages et les
      caractéristiques de chaque matériau, et apprenez à prendre des décisions
      éclairées.
    </p>
  </div>
  <div
    class="matiere-content mb-8 border border-gray-200 shadow-sm dark:border-gray-700 md:grid-cols-2 bg-white p-4"
  >
    <section class="matiere-content_inox flex items-center justify-center">
      <img
        src="assets/images/matiere/corten.png"
        alt="inox"
        class="matiere-content_image"
      />
    </section>
    <section class="matiere-content_galva flex items-center justify-center">
      <img
        src="assets/images/matiere/galva.png"
        alt="galva"
        class="matiere-content_image"
      />
    </section>
    <section class="matiere-content_aluminium flex items-center justify-center">
      <img
        src="assets/images/matiere/aliminium.png"
        alt="aliminium"
        class="matiere-content_image"
      />
    </section>
    <section class="matiere-content_acier flex items-center justify-center">
      <img
        src="assets/images/matiere/acier.png"
        alt="acier"
        class="matiere-content_image"
      />
    </section>
  </div>
</div>
