.matiere {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 60%;

    &_inox, &_galva, &_aluminium, &_acier {
      height: 300px;
      width: 100%;
      max-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_inox {
      &_link{
        border: 1px solid #000;
      }
    }
  }
}

@media (min-width: 768px) {
  .matiere-content {
    flex-wrap: wrap;
    width: 60%;
  }

  .matiere-content > section {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 425px){
  .matiere-content > section {
    height: 200px;
  }
}

@media (max-width: 320px){
  .matiere-content {
    width: 80%;
  }
}
