<main class="page-content">
  <h1>VOS PIÈCES SUR MESURE</h1>
  <section class="page-content_card"></section>

  <section class="page-content_configuration">
    <div class="page-content_configuration_card">
      <a [routerLink]="['/matiere', 'aluminium']"
        ><img
          class="page-content_configuration_card_img"
          src="assets/images/piece-configuration/decoupe.png"
          alt="configuration de découpe"
        />
        <button class="page-content_configuration_card_btn">
          NOS CONFIGURATIONS
        </button></a
      >
    </div>

    <div class="page-content_configuration_card">
      <img
        class="page-content_configuration_card_img"
        src="assets/images/piece-configuration/piecedxf.png"
        alt="configuration de découpe"
      />
      <button class="page-content_configuration_card_btn">
        SELECTIONNER UN FICHIER
      </button>
    </div>
  </section>
  <hr />
  <section class="page-content_description">
    <h2>Notre Processus</h2>
    <ul>
      <li>
        <div class="circle-button">
          <span class="arrow">&gt;</span>
        </div>
        Nous utilisons du matériel professionnel pour découper nos produits
        selon vos préférences de longueur.
      </li>
      <li>
        <div class="circle-button">
          <span class="arrow">&gt;</span>
        </div>
        La livraison est effectuée dans un délai de 3 jours ouvrés.
      </li>
      <li>
        <div class="circle-button">
          <span class="arrow">&gt;</span>
        </div>
        Des remises automatiques sont appliquées en fonction des quantités
        commandées.
      </li>
    </ul>
  </section>
</main>
