<section class="container-dossier">
  <div class="container-historique dossier_card">
    <img src="assets/images/dossier/historique.png" />
    <div class="container-historique_title">Historique</div>
  </div>
  <div class="container-favorie dossier_card">
    <img src="assets/images/dossier/star.png" />
    <div class="container-favorie_title">Favorie</div>
  </div>
  <div class="container-panier dossier_card">
    <img src="assets/images/dossier/panier.png" />
    <div class="container-panier_title">Panier</div>
  </div>
</section>
