<section class="container-dossier">
  <section class="container-dossier" *ngIf="activContainerDossier === 'Menu'">
    <div
      class="container-historique dossier_card"
      (click)="showActiveContainerDossier('Historique')"
    >
      <img src="assets/images/dossier/historique.png" />
      <div class="container-historique_title">Historique</div>
    </div>
    <div
      class="container-favorie dossier_card"
      (click)="showActiveContainerDossier('Favorie')"
    >
      <img src="assets/images/dossier/star.png" />
      <div class="container-favorie_title">Favorie</div>
    </div>
    <div
      class="container-panier dossier_card"
      (click)="showActiveContainerDossier('Panier')"
    >
      <img src="assets/images/dossier/panier.png" />
      <div class="container-panier_title">Panier</div>
    </div>
  </section>
  <section
    class="container-dossier_historique"
    *ngIf="activContainerDossier === 'Historique'"
  >
    <div class="container-dossier_historique_head">
      <h2 class="container-dossier_historique_head_title">Historique</h2>
      <button
        class="container-dossier_menu-button"
        (click)="showActiveContainerDossier('Menu')"
      >
        Menu Dossier
      </button>
    </div>

    <div class="container-dossier_historique_body"></div>
  </section>
  <section
    class="container-dossier_historique"
    *ngIf="activContainerDossier === 'Favorie'"
  >
    <div class="container-dossier_favorie_head">
      <h2 class="container-dossier_favorie_head_title">Favorie</h2>
      <button
        class="container-dossier_menu-button"
        (click)="showActiveContainerDossier('Menu')"
      >
        Menu Dossier
      </button>
    </div>

    <p>Favorie</p>
  </section>
  <section
    class="container-dossier_historique"
    *ngIf="activContainerDossier === 'Panier'"
  >
    <div class="container-dossier_panier_head">
      <h2 class="container-dossier_panier_head_title">Panier</h2>
      <button
        class="container-dossier_menu-button"
        (click)="showActiveContainerDossier('Menu')"
      >
        Menu Dossier
      </button>
    </div>

    <p>Panier</p>
  </section>
</section>
