@import '/src/styles/theme.scss';
@import 'src/tailwind.css';

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
}

html, body, app-root {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


