<main class="accueil-content">
  <section class="accueil-content_header">
    <img
      class="accueil-content_header_cover"
      src="assets/images/accueil/forge.png"
      alt="forge"
    />
    <h1 class="accueil-content_header_title">
      Découpe sur-mesure de plaque en métal : acier - inox - aluminium
    </h1>
    <p class="accueil-content_header_description">
      Simplifiez-vous la vie. Faites des économies, profitez de prix usine.
    </p>
    <button class="accueil-content_header_button">COMMENCER</button>
  </section>
  <section class="accueil-content_presentation">
    <h2 class="accueil-content_presentation_title">
      Découpe Évolutive et Performante grâce à nos Technologies Innovantes
    </h2>
    <section class="accueil-content_presentation_description">
      <p class="accueil-content_presentation_description_texte">
        Experts en découpe et pliage de plaques métalliques en acier, aluminium
        et inox, nous mettons à votre disposition un service en ligne novateur.
        Grâce à celui-ci, vous avez la possibilité de concevoir sur mesure vos
        pièces, afin de répondre parfaitement à l'ensemble de vos exigences et
        spécificités.
      </p>
      <button class="accueil-content_presentation_description_btn">
        En savoir plus
      </button>
    </section>
  </section>
  <div class="accueil-content_config">
    <section class="accueil-content_config_content">
      <h3 class="accueil-content_config_content_title">
        Créez votre piece ici
      </h3>
      <ul>
        <li>
          <a href="piece-configuration">> DESSINER UNE PIÈCE </a>
        </li>
        <li>
          <a href="#">> DEMANDER UN DEVIS</a>
        </li>
        <li>
          <a href="#">> CHARGER UNE ANCIENNE PIÈCE </a>
        </li>
      </ul>
    </section>
    <section class="accueil-content_config_image">
      <img
        class="accueil-content_card_image_cover"
        src="assets/images/accueil/imprimante3D.png"
        alt="imprimante 3D"
      />
    </section>
  </div>
</main>
